.horizontal-line {
  width: 100%;
  height: 0.5px;
  background-color: grey;
}

.jf-sidebar {
  /* Mobile: handled by component */
  @media (max-width: 767.98px) {
    position: static;
    height: auto;
  }
}

.content-view {
  flex-grow: 1; /* Hace que el contenido ocupe todo el espacio disponible */
  padding: 20px; /* Espaciado interno para el contenido */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es muy largo */
  background-color: #f8f9fa; /* Color de fondo para la vista de contenido */
}

// live match css
.live-match {
  background-color: #fe0000;
  color: #fff;
  padding: 3px;
}

.unders-ended {
  color: #f7b217;
}

.match-ended {
  color: #fe0000;
}
.leagues-selector {
  font-size: 15px !important;
  cursor: pointer;
}

.subtitle {
  font-size: 15px;
  font-weight: 600;
}

// .graph {
//   width: 400px;
//   min-width: 100%;
//   height: 400px;
// }

.bet-tooltip {
  font: 16px / 21px "Microsoft YaHei";
}

.chart {
  height: 400px;
  width: 100%;
}

.ml18-BasketballClock_TimerInnerWrapper {
  background-color: #c8a059;
  padding: 0 6px;
  line-height: 17px;
  height: 17px;
  display: inline-block;
}

.ovm-ParticipantStackedCentered_Odds {
  padding-left: 3px;
  color: #d4ba16ab;
}