 #chat_box_identifier {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  border: none;
  width: 85px;
  height: 85px;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  transition: .5s;
}

#message_box_id .expand {
  width: 400px!important;
  max-height: 675px!important;
  min-height: 240px!important;
  height: 100%!important;
}

/* recomendador xl */
#message_box_id .menu-xl {
  width: 440px !important;
  max-height: 100% !important;
  min-height: 50% !important;
  height: 100% !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
#message_box_id .compact {
  width: 85px;
  height: 85px;
  transition: .5s;
}
#whatsapp_box_identifier.compact {
  width: 200px;
  height: 85px;
}
@media (max-width: 768px) {
  #chat_box_identifier {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  #whatsapp_box_identifier {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 480px) {
  #chat_box_identifier.expand {
    width: 100%!important;
    height: 100%!important;
  }
  #chat_box_identifier.compact {
    width: 85px!important;
    height: 83px!important;
  }
  #whatsapp_box_identifier.compact {
    width: 200px!important;
    height: 83px!important;
  }
}

/* To left position chatbot */
.p-left {
  left: 0 !important;
  right: auto !important;
}
/* To right position widget wsap */
.p-right {
  right: 0 !important;
  left: auto !important;
}